{% extends "task/base.html" %}
{% block content %}
    <h1>Home Page</h1>
    </br>
    </br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Saepe aliquam ab soluta sed quaerat omnis assumenda similique beatae adipisci explicabo, reprehenderit sunt modi praesentium qui? Exercitationem, amet nam aspernatur alias quae modi necessitatibus, placeat fuga voluptates explicabo deserunt similique veniam dignissimos consequatur cum mollitia soluta saepe facilis laboriosam non iste?</p>
{% endblock content %}